scripts/kconfig/.mconf-cfg
scripts/kconfig/mconf
include/config/auto.conf
include/config/auto.conf.cmd
include/config/tristate.conf
include/generated/autoconf.h

# Not part of kconfig
include/config/project.release

.config
.config.old
*.o
